
section {
    background: gray;
    height: 50%;
    padding: 5%;
    margin: 2%;
}

.clickedJanine {
    background-color: #6499FF;
}

.clickedRyan {
    background-color: #CC0000;
}

.clickedAlyssa {
    background-color: #CDFFF9;
}

.clickedLily {
    background-color: #008080;
}